{% extends 'base-admin.html.twig' %}

{% block content %}
    <h1>Product creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Create" />
        <a class="btn btn-info" href="{{ path('admin_product_index') }}">Back to the list</a>
    {{ form_end(form) }}
{% endblock %}
